:root {
  --form-background: rgba(54, 56, 54, 0.5);
  --form-text: #c5c5c5;
  --form-base-grid-width: 88%;
  --form-base-input-height: 3rem;
  --form-base-margin: 0.375rem;
  --form-mini-margin: 0.6rem;
  --form-base-font-size: 1rem;
  --form-base-padding: 1rem;
}

.modal {
  border: 0;
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: url("../images/background.jpg") center right/cover no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--form-background);
  backdrop-filter: blur(12px) brightness(70%);
}

.form {
  width: var(--form-base-grid-width);
  display: flex;
  flex-direction: column;
}

.form label > div {
  color: var(--form-text);
  margin: var(--form-mini-margin) 0;
  font-size: var(--form-base-font-size);
}

.form > * {
  margin: var(--form-base-margin) 0;
  font-family: "Jetbrains Mono";
}

.form input,
textarea {
  border: 2px solid var(--form-text);
  background-color: transparent;
  color: var(--form-text);
  font-family: "Jetbrains Mono";
  font-size: var(--form-base-font-size);
  border-radius: 12px;
  padding: var(--form-base-padding);
}

.form #title {
  width: 100%;
}

.form #description {
  width: 100%;
  height: 30vh;
}

.form #due-date {
  text-align: center;
  padding: unset 1em;
  text-transform: uppercase;
}

.form #priority {
  width: 20%;
}

.form .button-container {
  position: absolute;
  right: calc((100% - var(--form-base-grid-width)) / 2);
  bottom: 2rem;
}

#add-todo,
#close-modal {
  padding: 0.75em 1.5em;
  font-size: 16px;
  flex-basis: auto;
  border-radius: 12px;
  color: white;
}

#add-todo {
  background-color: #526a7c;
}

#close-modal {
  background-color: #b85151;
}
