@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  border: 0;
  font-family: "JetBrains Mono", monospace;
}

button:hover {
  cursor: pointer;
}
